.DS_Store
/LoFTR
/Offline_Keyframes
/Online_Keyframe
/checkpoint
/Offline_Keyframes_Turn2-3
/Offline_Keyframes_Turn23
/Offline_Keyframes_Turn5
/Offline_Keyframes_Turn6
output_matches_turn23/
output_matches_turn6/
output_matches_turn5/
/csv
